<app-header [showMenu]="true" title="Inicio"></app-header>
<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

@if(!loading && products.length){
<ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center">
  <div>
    <h5>{{products.length}}</h5>
    <p>Productos</p>
  </div>
  <div>
    <h5>{{getProfis()| currency: 'USD'}}</h5>
    <p>Ganancias</p>
  </div>
</ion-card>
}
<!--=============0 Productos 0===========-->
@if (!loading) {
<ion-list>
  @for ( p of products; track p){
  <ion-item-sliding class="product-item">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="p.image" alt="">
      </ion-avatar>
      <ion-label>
        <div class="name">{{p.name}}</div>
        <div class="data">
          <strong>Precio: </strong> {{p.price | currency: 'USD'}} <br>
          <strong>Unidades Vendidas:</strong> {{p.soldUnits}}
        </div>

        <ion-chip color="primary" mode="ios" outline="true">
          <ion-label>Ganancia: {{p.price *p.soldUnits | currency: 'USD'}} </ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <!-- =============0 Opciones 0==============-->
    <ion-item-options>
      <!-- =============0 Editar 0==============-->
      <ion-item-option (click)="AddUpdateProduct(p)">
        <ion-icon class="option-btn" name="create-outline"></ion-icon>
      </ion-item-option>
      <!-- =============0 Eliminar 0==============-->
      <ion-item-option (click)="confirmDeleteProduct(p)" color="danger">
        <ion-icon class="option-btn" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>



  </ion-item-sliding>
  }
</ion-list>
}
<!--  ==========0 Loading 0============-->
@if(loading){
<ion-list>
  @for ( p of [1,1,1,1,1,1,1,1,1,]; track p){
  <ion-item class="product-item">
    <ion-avatar slot="start">
      <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <div><ion-skeleton-text animated style="width: 50;"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text></div>
    </ion-label>
  </ion-item>
  }
</ion-list>
}
<!-- =========0 Sin Productos Disponibles 0========-->
@if(!loading && !products.length){
<div class="empty">
  <ion-icon name="shield-outline"></ion-icon>
  <h3>No hay Productos Disponibles</h3>
</div>
}
<!-- =================0 Numevo Producto 0================0-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AddUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>